@import url('https://fonts.googleapis.com/css2?family=Allura&family=Bree+Serif&family=Dancing+Script:wght@500&family=Pacifico&family=Poppins:ital,wght@1,600&display=swap');
body{
  background-image: linear-gradient(to left bottom, #e9ebe3, #dfeada, #d1e9d5, #bee9d4, #a8e9d9, #8cd8d2, #73c6cc, #5cb4c5, #458fa8, #336b88, #254967, #172a45);
}
h1{
  margin-top: 5px;
  font-family: 'Bree Serif', serif;
  font-size: 3rem;
}
h3{
  font-family: 'Allura', cursive;
  font-size: 1.5rem;
  margin-top: -2.5rem;
}
.App {
  height: 50rem;
  text-align: center;
}

.inline-item{
  display: inline-flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}
.list{
  background-color: #262626;
  color: white;  
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
  padding: 8px;
  width: 10rem;
  cursor: pointer;
  box-shadow: 5px 5px 15px;
  transition: all 0.2s;
  font-family: 'Poppins', sans-serif;
}
.list:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
.list:active{
    background-color: #ccfbf1;
    color: black;
    box-shadow: 0 4px #666;
    transform: translateY(2px);
}

.container{
  margin-top: 2rem;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  background-color: white;
  width: 300px;
  height: 500px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.22);
}

.cardImage{
  height: 300px;
  max-width: 280px;
  margin-bottom: 15px;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
h2{
  margin-top: -0.6rem;
  font-family: 'Pacifico', cursive;
  font-size: 1.8rem;
  margin-bottom: -0.6rem;
  text-shadow: 3px 3px 4px rgba(150, 150, 150, 1);
}
p{
  font-size: 1.2rem;
  font-weight: bold;
}
.adress-p{
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Dancing Script', cursive;
  text-align: left;
  margin-left: 1rem;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
  background-color: #000000;
  opacity: 0.6;
}
.footer p{
  margin-top: 5px;
  margin-bottom: auto;
  color: white;
  font-size: 1rem;
}

.list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
}

.list-item-inlines {
  display: inline;
  padding: 0rem 0.5rem;
}
.links .fa-brands{
  color: white;
  font-size: 1.2rem;
  transition: .2s;
}
.links .fa-brands:hover {
  color: #06b6d4;
}

@media only screen and (max-width: 600px){
  body{
    background-image: linear-gradient(to right top, #00fbff, #04f9ff, #09f8ff, #0ef6ff, #13f4ff);
  }
  h1{
    margin: auto;
    font-size: xx-large;
  }
  h3{
    margin: auto;
    font-size: larger;
  }
  .inline-item{
    display: inline;
  }
  .list{
    font-size: larger;
    width: auto;
    box-shadow: none;
    padding: 1rem 1.2rem;
  }

  .card{
    height: auto;
    width: 80%;
  }
  .cardImage{
    height: fit-content;
    width: 90%;
  }
  h2{
    font-size: x-large;
  }
  p{
    font-size: large;
  }

  .footer{
    position: relative;
    background-color: #000000;
    opacity: 0.6;
  }
}